@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <img class="display-4" src="~/img/utility/pngegg.png" alt="SadSmile.png" width="400" height="400" />
    <br />
    <h1 class="display-4">В доступе отказано.</h1>
    <p>Вы не админ.</p>
</div>
