@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Сейчас в автомате с напитками: 0</h2>
<br />
<div class="row">
    <div class="col-md-auto border border-primary" style="padding: 20px; overflow: hidden;">
        <h4>Выбор монет</h4>
        <br/>
        <button type="button" id="1CoinerBtn" class="btn btn-warning">1</button>
        <button type="button" id="2CoinerBtn" class="btn btn-warning">2</button>
        <button type="button" id="5CoinerBtn" class="btn btn-warning">5</button>
        <button type="button" id="10CoinerBtn" class="btn btn-warning">10</button>
    </div>
    <div class="col-md-auto" id="drinkBuyContainer">

    </div>
</div>